name: Test
on:
  push:

concurrency:
  group: check-build-lin-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build - ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: ubuntu-latest
            name: "Ubuntu 24.04"
    steps:
      - uses: actions/checkout@v2
      
      - name: Build GCC15
        shell: bash
        run:   |
          sudo apt update
          sudo apt install -y build-essential git make gawk flex bison libgmp-dev libmpfr-dev libmpc-dev python3 binutils perl libisl-dev libzstd-dev tar gzip bzip2

          mkdir ~/gcc-15
          cd ~/gcc-15
          git clone https://gcc.gnu.org/git/gcc.git gcc-15-source
          cd gcc-15-source
          git checkout releases/gcc-15.1.0
          ./contrib/download_prerequisites

          cd ~/gcc-15
          mkdir gcc-15-build
          cd gcc-15-build
          ../gcc-15-source/configure --prefix=/opt/gcc-15 --disable-multilib --enable-languages=c,c++

          make -j$(nproc)
          sudo make install
          sudo update-alternatives --install /usr/bin/gcc gcc /opt/gcc-15/bin/gcc 100
          sudo update-alternatives --install /usr/bin/g++ g++ /opt/gcc-15/bin/g++ 100

          sudo update-alternatives --config gcc
          sudo update-alternatives --config g++